src/main/resources/contracts/flights-contract.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.javeriana.edu/flights-contract/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="flights-contract"
	targetNamespace="http://www.javeriana.edu/flights-contract/">
	<wsdl:types>

		<xsd:schema targetNamespace="http://www.javeriana.edu/flights-contract/">

			<xsd:element name="processFlights">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="package" type="tns:flightPackage" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="flightPackage">
				<xsd:sequence>
					<xsd:element name="flights" type="tns:flight"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="flight">
				<xsd:sequence>
					<xsd:element name="externalKey" type="xsd:string" />
					<xsd:element name="name" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>


			<xsd:element name="processFlightsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>

	</wsdl:types>

	<wsdl:message name="processFlightsRequest">
		<wsdl:part element="tns:processFlights" name="parameters" />
	</wsdl:message>
	<wsdl:message name="processFlightsResponse">
		<wsdl:part element="tns:processFlightsResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="flights-contract">
		<wsdl:operation name="processFlights">
			<wsdl:input message="tns:processFlightsRequest" />
			<wsdl:output message="tns:processFlightsResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="flights-contractSOAP" type="tns:flights-contract">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="processFlights">
			<soap:operation
				soapAction="http://www.javeriana.edu/flights-contract/processFlights" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="flights-contract">
		<wsdl:port binding="tns:flights-contractSOAP" name="flights-contractSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
